/build
/client_secret_945668514148-85mi1p5pdpf1bkmrg78su8fegi4vuuc6.apps.googleusercontent.com.json
/client_secret_945668514148-p99nd9dua66grka0l0fvop35rc6sjid3.apps.googleusercontent.com.json
/client_secret_945668514148-u5j8mveh98rifi40noiaruevsmrqnl1s.apps.googleusercontent.com.json
src/main/res/values/strings.xml
src/main/res/values/ids.xml